{%- set db = connections.relational_db.0 -%}
{%- set obj = connections.object_store.0 -%}
MLFLOW_BACKEND_STORE_URI={{ db.url }}
MLFLOW_ARTIFACTS_DESTINATION={{ obj.uri }}
{% if obj.credential.flavour == "s3" -%}
MLFLOW_S3_ENDPOINT_URL={{ obj.endpoint }}
AWS_ACCESS_KEY_ID={{ obj.credential.access_key_id }}
AWS_SECRET_ACCESS_KEY={{ obj.credential.secret_access_key }}
AWS_DEFAULT_REGION={{ obj.credential.region }}
{% else -%}
AZURE_STORAGE_CONNECTION_STRING={{ obj.credential.connection_string }}
{% endif -%}
