{%- if objects -%}
{%- set obj = connections.object_store.0 -%}
AWS_ACCESS_KEY_ID={{ obj.credential.access_key_id }}
AWS_SECRET_ACCESS_KEY={{ obj.credential.secret_access_key }}
AWS_DEFAULT_REGION={{ obj.credential.region }}
{%- endif %}
