# Unity Catalog
{%- set db = connections.relational_db.0 %}
{%- set obj = connections.object_store.0 %}
services:
  unitycatalog:
    image: unitycatalog/unitycatalog:main-2f2e32d
    restart: unless-stopped
    depends_on:
{%- for dep in dependencies %}
      {{ dep.service }}:
        condition: {{ dep.condition }}
{%- endfor %}
    environment:
      DATABASE_URL: {{ db.url }}
{%- if obj.credential.flavour == "s3" %}
      S3_ENDPOINT: {{ obj.endpoint }}
      AWS_ACCESS_KEY_ID: {{ obj.credential.access_key_id }}
      AWS_SECRET_ACCESS_KEY: {{ obj.credential.secret_access_key }}
      AWS_REGION: {{ obj.credential.region }}
{%- else %}
      AZURE_STORAGE_CONNECTION_STRING: {{ obj.credential.connection_string }}
{%- endif %}
    expose:
      - "8080"
    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://127.0.0.1:8080/api/2.1/unity-catalog/catalogs || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 12
      start_period: 15s
