{%- set db = connections.relational_db.0 -%}
{%- set obj = connections.object_store.0 -%}
DATABASE_URL={{ db.url }}
{% if obj.credential.flavour == "s3" -%}
S3_ENDPOINT={{ obj.endpoint }}
AWS_ACCESS_KEY_ID={{ obj.credential.access_key_id }}
AWS_SECRET_ACCESS_KEY={{ obj.credential.secret_access_key }}
AWS_REGION={{ obj.credential.region }}
{% else -%}
AZURE_STORAGE_CONNECTION_STRING={{ obj.credential.connection_string }}
{% endif -%}
