# Jaeger tracing
services:
  jaeger:
    image: {{ knobs.image }}
    restart: unless-stopped
    command: ["--set=extensions.jaeger_query.base_path=/jaeger"]
    expose:
      - "16686"
      - "4317"
