# Envoy gateway
services:
  envoy:
    image: {{ knobs.image }}
    restart: unless-stopped
    configs:
      - source: envoy_config
        target: /etc/envoy/envoy.yaml
    command: ["-c", "/etc/envoy/envoy.yaml", "--log-level", "warn"]
{%- if knobs.auth == "true" %}
    depends_on:
      authelia:
        condition: service_healthy
{%- endif %}
    ports:
{%- for p in published_ports %}
      - "{{ p.host }}:{{ p.container }}"
{%- endfor %}
